        <!-- Nav -->
        <nav id="nav">
        <ul class="links">
        <li class="{% block active_index %}{% endblock %}"><a href="index">This is Massively</a></li>
        <li class="{% block active_generic %}{% endblock %}"><a href="generic">Generic Page</a></li>
        <li class="{% block active_elements %}{% endblock %}"><a href="elements">Elements Reference</a></li>
        </ul>
        <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
        </ul>
        </nav>